---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.svg';

---
<div class="flex items-center justify-center space-x-2">
  <Image src={logo} alt="logo CitizenLab Guinée" class="h-12" />
  <img src="/guineedrapeau.svg" alt="Drapeau Guinée" class="h-8 w-6" />
</div>
