---
import logo from '../assets/images/logo.svg';
import Image from '~/components/common/Image.astro';

---
<div class="flex items-center justify-center space-x-2">
  <Image src={logo} alt="logo CitizenLab Guinée" class="h-12" />
  <img src="/guineedrapeau.svg" alt="Drapeau de la Guinée" class="h-6 w-6" />
</div>
